name: Update DOIs for changed Posts
on:
  workflow_dispatch:
  # schedule:
  #  - cron: "*/10 * * * *"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4       
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install commonmeta-py
        run: poetry install --no-root
      - name: Download posts not indexed recently
        run: |
          mkdir -p upload
          curl https://api.rogue-scholar.org/posts/updated > upload/posts.json
      - name: Convert posts to crossref xml
        run: |
          poetry run commonmeta list upload/posts.json --via json_feed_item --depositor "${{ secrets.CROSSREF_DEPOSITOR_NAME }}" --email "${{ secrets.CROSSREF_DEPOSITOR_EMAIL }}" --registrant "${{ secrets.CROSSREF_REGISTRANT }}" -t crossref_xml > upload/xml
      - name: Update content via Crossref API
        run: |
          curl -X POST https://doi.crossref.org/servlet/deposit -F "operation=doMDUpload" -F "login_id=${{ secrets.CROSSREF_USERNAME_WITH_ROLE }}" -F "login_passwd=${{ secrets.CROSSREF_PASSWORD }}" -F "fname=@upload/xml"
      - name: Set current date as variable
        run: |
          echo "::set-output name=NOW::$(date +'%s')"
        id: current_date
      - name: List uuids of updated posts
        run: |
          echo "::set-output name=UUIDS::$(jq '.[] | .id' upload/posts.json)"
        id: uuids
      - name: Update Rogue Scholar posts
        run: |
          for uuid in ${{ steps.uuids.outputs.UUIDS }}; do
            curl -X PATCH https://db.rogue-scholar.org/rest/v1/posts?id=eq.$uuid -H "apikey: ${{ secrets.SUPABASE_KEY }}" -H "Authorization: Bearer ${{ secrets.SUPABASE_KEY }}" -H "Content-Type: application/json" -H "Prefer: return=minimal" -d '{ "indexed_at": "${{ steps.current_date.outputs.NOW }}", "indexed": true }'
          done
      # - name: Find blog id for post
      #   run: |
      #     echo "::set-output name=SLUG::$(poetry run commonmeta json-feed blog_slug --id ${{ steps.posts_by_blog.outputs.POSTID }})"
      #   id: blog
      # - name: Update OA.Works blog
      #   if: steps.blog.outputs.SLUG == 'oa_works'
      #   run: poetry run commonmeta update-ghost-post --api-key ${{ secrets.OA_WORKS_ADMIN_API_KEY }} --api-url ${{ secrets.OA_WORKS_ADMIN_API_URL }} ${{ steps.posts_by_blog.outputs.POSTID }}
      # - name: Update Upstream blog
      #   if: steps.blog.outputs.SLUG == 'upstream'
      #   run: poetry run commonmeta update-ghost-post --api-key ${{ secrets.UPSTREAM_ADMIN_API_KEY }} --api-url ${{ secrets.UPSTREAM_ADMIN_API_URL }} ${{ steps.posts_by_blog.outputs.POSTID }}
      